= simple_form_for(movie) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title

  .form-inputs
    = f.input :instagram_tag, hint: 'Leave empty to generate automatically'

  .form-actions.for-entry
    = f.button :submit, class: "btn btn-success"
    = link_to link_to t('views.common.back'), movies_path, class: "btn btn-primary"
