= simple_form_for(movie, html: {multipart: true } ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title

  .form-nputs
    = f.file_field :picture

  .form-actions
    = f.button :submit
