%h1 #{t('views.movies.index.title')}

%table
  %thead
    %tr
      %th #{t('views.movies.index.movie_title')}
      %th
      %th
      %th

  %tbody
    %ul.list-group.movies
    - movies.each do |movie|
      %li.list-group-item
        = image_tag movie.picture.url
        = movie.title << ', '
        %small
          = 'added ' << time_ago_in_words( movie.created_at )

          %button.btn.btn-primary= link_to t('views.common.show'), movie
          %button.btn.btn-= link_to t('views.common.edit'), edit_movie_path(movie)
          %button= link_to t('views.common.destroy'), movie, method: :delete, data: { confirm: t('views.common.confirm_destroy') }

%br
- if current_user.admin?
  = link_to t('views.movies.index.new_movie'), new_movie_path
