%h1 Listing movies

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - movies.each do |movie|
      %tr
        %td= movie.title
        %td= link_to 'Show', movie
        - if current_user.admin?
          %td= link_to 'Edit', edit_movie_path(movie)
          %td= link_to 'Destroy', movie, :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          %td
          %td

%br
- if current_user.admin?
  = link_to 'New Movie', new_movie_path
