%h1 #{t('views.movies.index.title')}

%table
  %thead
    %tr
      %th #{t('views.movies.index.movie_title')}
      %th
      %th
      %th

  %tbody
    %ul.list-group.movies
    - movies.each do |movie|
      %li.list-group-item
        = movie.title << ', '
        %small
          = 'added ' << time_ago_in_words( movie.created_at )

          %button.btn.btn-primary= link_to 'Show', movie
          %button.btn.btn-= link_to 'Edit', edit_movie_path(movie)
          %button= link_to 'Destroy', movie, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if current_user.admin?
  = link_to 'New Movie', new_movie_path
