.row
  .col-md-6
    %h1= movie.title
    %p.rate

      = imdb_style_rating_for movie, current_user
      %br/
      #{t('views.movies.show.visual_effects')}: #{rating_for movie, "visual_effects"}
      %br/
      #{t('views.movies.show.scenario')}: #{rating_for movie, "scenario"}
      %br/
      #{t('views.movies.show.actors')}: #{rating_for movie, "actors"}
      %br/

    %p
      %h3 #{t('views.movies.show.new_review')}
      = render 'reviews/form'
    - if reviews.empty?
      %p

    - else
      %h2.page-header Reviews
      %section.comment-list
        - movie.reviews.each do |review|
          %article.row

            .col-md-10.col-sm-10
              .panel.panel-default.arrow.left
                .panel-body
                  %header.text-left
                    %time.comment-date{:datetime => "16-12-2014 01:05"}
                      %i.fa.fa-clock-o
                      =review.decorate.creation_time.split(' ')[2].to_s << ' ' + review.decorate.creation_time.split(' ')[3].to_s
                  .comment-post
                    %p
                      =review.content

    - if current_user.admin?
      = link_to link_to t('views.common.edit'), edit_movie_path(movie)
      \|
    = link_to link_to t('views.common.back'), movies_path

  .col-md-6
    %h2 Map
    .map-wrapper.movie{:movie => movie.id}
      #map-canvas

    .no-photos.hidden Sorry, no photos found for this movie!

    %h2 Auctions
    .auctions-wrapper{:movie => movie.id}
