%h2 Admin page

.row.admin
  %span.col-md-6
    %h3
      =link_to 'Reviews', reviews_path

    %ul.list-group
      - reviews.each do |review|
        %li.list-group-item
          = review.title << ', '
          %small
            = 'added ' << time_ago_in_words( review.created_at )

          = link_to 'Remove', review_path( review.id ), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"
          = link_to 'Edit', edit_review_path( review.id ), class: "btn btn-primary btn-xs"
          = link_to 'View', review_path( review.id ), class: "btn btn-info btn-xs"

  %span.col-md-6
    %h3
      =link_to 'Movies', movies_path

    %ul.list-group
      - movies.each do |movie|
        %li.list-group-item
          = movie.title << ', '
          %small
            = 'added ' << time_ago_in_words( movie.created_at )

          = link_to 'Remove', movie_path( movie.id ), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"
          = link_to 'Edit', edit_movie_path( movie.id ), class: "btn btn-primary btn-xs"
          = link_to 'View', movie_path( movie.id ), class: "btn btn-info btn-xs"