= simple_form_for(review) do |f|
  = f.error_notification

  .form-inputs
    = f.input :content
    = f.input :movie_id, :collection => movies, :include_blank => false
    = f.input :rating

  .form-actions.for-entry
    = f.button :submit, class: "btn btn-success"
    = link_to link_to t('views.common.back'), reviews_path, class: "btn btn-primary"