%h1 #{t('views.reviews.index.title')}

%table
  %thead
    %tr
      %th #{t('views.reviews.index.content')}
      %th #{t('views.reviews.index.rating')}
      %th
      %th
      %th

  %tbody
    - reviews.each do |review|
      %tr
        %td= review.content
        %td= review.rating
        %td= link_to t('views.common.show'), review
        %td= link_to t('views.common.edit'), edit_review_path(review)
        %td= link_to t('views.common.destroy'), review, method: :delete, data: { confirm: t('views.common.confirm_destroy') }

%br

= link_to t('views.reviews.index.new_review'), new_review_path
