%p
  %b #{t('views.reviews.show.content')}:
  = review.content
%p
  %b #{t('views.reviews.show.rating')}:
  = review.rating

= link_to t('views.common.edit'), edit_review_path(review)
\|
= link_to t('views.common.back'), reviews_path
