%p
  %b #{t('views.reviews.show.content')}:
  = review.content
%p
  %b #{t('views.reviews.show.rating')}:
  = review.rating
%p
  %b Movie:
  = link_to review.movie.title, movie_path(review.movie.id)


