%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %title Instamoview
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css', rel: 'stylesheet'}/
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css', rel: 'stylesheet'}/
    %script(src='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js')

  %body
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to 'Instmovie', root_path, class: "navbar-brand"

        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if not user_signed_in?
              %li
                = link_to 'Sign in', controller: 'devise/sessions', action: 'new'
              %li
                = link_to 'Sign up', controller: 'devise/registrations', action: 'new'
            - else
              %li
                - if current_user.admin?
                  = link_to "Admin panel, #{current_user.decorate.identity}", users_admin_path
                - else
                  = link_to "Welcome, #{current_user.decorate.identity}", users_profile_path
              - if current_user.access_token.nil?
                %li
                  = link_to 'Connect to Instagram', user_omniauth_authorize_path(:instagram)
              %li
                = link_to 'Sign out', destroy_user_session_path, method: :delete

          - if user_signed_in? and not current_user.admin
            %form.navbar-form.navbar-right
              .form-group.search
                %select
    .container
      - if not flash[:notice].nil?
        %p.alert.alert-success= flash[:notice]
      - if not flash[:error].nil?
        %p.alert.alert-danger= flash[:error]
      = yield