!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %title Instamoview
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          = link_to 'Instmovie', root_path, class: "navbar-brand"

        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if not user_signed_in?
              %li
                = link_to 'Sign in', controller: 'devise/sessions', action: 'new'
              %li
                = link_to 'Sign up', controller: 'devise/registrations', action: 'new'
            - else
              - if current_user.admin
                %li
                  = link_to 'Admin panel', users_admin_path

              %li
                = link_to 'Welcome, ' << current_user.email, users_profile_path
              %li
                = link_to 'Sign out', destroy_user_session_path, :method => :delete

          - if current_user.nil? or current_user.admin
            %form.navbar-form.navbar-right
              .form-group
                %input.form-control
              %button.btn.btn-success
                = 'Search'
    .container
      - if not flash[:notice].nil?
        %p.alert.alert-success= flash[:notice]
      - if not flash[:error].nil?
        %p.alert-alert-warning= flash[:error]

      = yield